
@media only screen and (max-width: 600px){
    nav .fas{
        display: block;
                font-size: 25px;
            }
         nav ul{
                background: #ff004f;
                position: fixed;
                top: 0;
                right: -200px;
                width: 200px;
                height: 100vh;
                padding-top: 50px;
          }     
         nav ul li {
            display: block;
            margin: 25px;
         }
         nav ul .fas{
            position: absolute;
            top: 25px;
            left: 25px;
            cursor: pointer;
         }
}